# env
.env

# python packages
venv/

# python bytecode
__pycache__/
*.pyc
*.pyo

# temp working files
temp/

# streamlit secrets
.streamlit/secrets.toml

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# Video Files
video
